force-app/main/default/flows/Automated_evaluation_KPI_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_ev_Kpi_to_List_0_0</name>
        <label>Add ev Kpi to List</label>
        <locationX>264</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>evaluatedKpis</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>evKpi</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Kpis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>evaluated_Kpi_0_0</name>
        <label>evaluated Kpi</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>evKpi.KPI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Kpis.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>evKpi.Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>evKpi.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Kpis.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_ev_Kpi_to_List_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>KPI_Roles</name>
        <label>KPI Roles</label>
        <locationX>396</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>RolesCurrentKPI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Kpis.Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_General_or_Evaluated_Role</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_General_or_Evaluated_Role</name>
        <label>Is General or Evaluated Role</label>
        <locationX>396</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Iterate_Kpis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_evaluated_KPI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RolesCurrentKPI</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>General</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RolesCurrentKPI</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_Evaluated_Info.Role__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>evaluated_Kpi_0_0</targetReference>
            </connector>
            <label>Create evaluated KPI</label>
        </rules>
    </decisions>
    <interviewLabel>Automated evaluation KPI creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automated evaluation KPI creation</label>
    <loops>
        <name>Iterate_Kpis</name>
        <label>Iterate Kpis</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>get_Kpis</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>KPI_Roles</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_evaluated_Kpis</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_evaluated_Kpis</name>
        <label>Create evaluated Kpis</label>
        <locationX>176</locationX>
        <locationY>1367</locationY>
        <inputReference>evaluatedKpis</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Evaluated_Info</name>
        <label>Get Evaluated Info</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Kpis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Evaluated__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Kpis</name>
        <label>get KPIs</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Kpis</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>KPI__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Evaluated_Info</targetReference>
        </connector>
        <object>Review__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>evaluatedKpis</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Evaluated_KPI__c</objectType>
    </variables>
    <variables>
        <name>evKpi</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Evaluated_KPI__c</objectType>
    </variables>
    <variables>
        <name>RolesCurrentKPI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
