force-app/main/default/flows/Set_Review_Status_To_Submitted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_Quantity_All_Sibling_Records</name>
        <label>Set_Quantity_All_Sibling_Records</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>Quantity_All_Sibling_Records</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Sibling_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Summited_Sibling_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Review_values</name>
        <label>Set_Review_values</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>ReviewObject.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Review__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReviewObject.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Summited_Sibling_Records</name>
        <label>Set_Summited_Sibling_Records</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>Quantity_All_Sibling_Submmited_Records</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Summited_Sibling_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_All_Submmited</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Verify_All_Submmited</name>
        <label>Verify_All_Submmited</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Submmited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quantity_All_Sibling_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Quantity_All_Sibling_Submmited_Records</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Review_values</targetReference>
            </connector>
            <label>All_Submmited</label>
        </rules>
    </decisions>
    <interviewLabel>SetReview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Review Status To Submitted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Sibling_Records</name>
        <label>Get_All_Sibling_Records</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Summited_Sibling_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Review__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Review__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Review_Assignment__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Summited_Sibling_Records</name>
        <label>Get_Summited_Sibling_Records</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Quantity_All_Sibling_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Review__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Review__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Submitted_By_Evaluator__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Review_Assignment__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Review</name>
        <label>Update_Review</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputReference>ReviewObject</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Sibling_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Submitted_By_Evaluator__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Review_Assignment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Quantity_All_Sibling_Records</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Quantity_All_Sibling_Submmited_Records</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ReviewObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Review__c</objectType>
    </variables>
</Flow>
